/*a:link {
    color: blue
}
a:visited {
    color:green
}*/
.menu {
    margin:20px
  /*display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  width: 200px;
  height: 300px;
  justify-content:flex-start
  */
}
.item {
    background-color:lightblue;
    width:150px;
    /*color: white;
 
 text-align: left;
 padding: 5px 20px;
 align-items:stretch;*/
 
}

a:hover {
    color:red;
} 

a:visited {
    color:green
}